body{
    

}
header{
    margin-top: 25px;
}
header a {
    display: inline; /* tag para deixar as palavras (ou os itens de um determinado bloco em linhas */ 
    margin-right: 25px; /* tag para definir o espaçamento entre as palavras*/
    color:gray;
    text-decoration: none; /* Tirar o sublinhado do A href */
    font-size: 20px;
} 
.menu-rigth{
    float: right;
    margin-left: 500px;
    margin-top: -20px;

}


.carrinho{
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-image: url('icones/carrinho-de-compras.png');
    background-size: contain;

}
.icone {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-image: url('icones/ATI_icon.ico');
    background-size: contain;
}
#E-commerce{
    margin-left: -10px;
    position: relative;
    margin-top: 30px;
    width: 101.25%;
    height: 680px;
    background: url("Imagens/Background_E-commerce.jpg") no-repeat;
    background-size: cover;
}

#E-commerce::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#E-commerce h1 {
    position: absolute;
    top: 35%; /* Posiciona o elemento na metade superior da div */
    left: 40%; /* Posiciona o elemento na metade esquerda da div */
    transform: translate(-50%, -50%); /* Move o elemento de volta para o centro */
    color:white;
}
#E-commerce p{
    position: absolute;
    top: 50%; /* Posiciona o elemento na metade superior da div */
    left: 40%; /* Posiciona o elemento na metade esquerda da div */
    transform: translate(-50%, -50%); /* Move o elemento de volta para o centro */
    color:white;
    font-size: 20px;

}
#E-commerce a {
    width: 130px;
    height: 50px;
    border-radius:30px;
    position: absolute;
    top: 65%;
    left: 40%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 18px;
    background-color: green;
    line-height: 50px; 
    text-align: center; 
    text-decoration: none;
}
#aplicacoes{
    margin-top: 50px;
    text-align: center;
}
#aplicacoes div{
    display: inline-block;
    margin-right: 50px;    
}
#aplicacoes h1{
    color: black;
}
#aplicacoes p{
    font-size: 20px;
    color: black;
}
#aplicacoes img{
    margin-top: 50px;
}
.pacote1{
    height: 400px;
    width: 400px;
    border: 0.5px solid black; 
    background-color: white;
    color: black;
}
.pacote1 img{
    height: 150px;
    width: 280px;

}


.pacote2{
    height: 400px;
    width: 400px;
    background-color:white ;
    border: 0.5px solid black;
   
}
.pacote2 img{
    height: 150px;
    width: 280px;
   
}
.pacote3{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 0.5px solid black;
}
.pacote3 img{
    height: 150px;
    width: 280px;

}
#ux{
    margin-left: -10px;
    position: relative;
    margin-top: 30px;
    width: 101.25%;
    height: 680px;
    background: url("Imagens/UI-UX-Design.jpg") no-repeat;
    background-size: cover;
}
#ux::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.673);
}
#ux h1{
    position: absolute;
    top: 25%;
    left: 18%;
    color: white;
    
}
#ux p{
    position: absolute;
    font: bolder, 'Arial';
    font-size: 17px;
    color: white;
    width: 100%;
    text-align: left;
    top: 45%;
    left: 18%;
}
#ux a{
    position: absolute;
    top:69%;
    text-decoration: none;
    border-radius: 30px;
    background-color:white;
    color: black;
    width: 130px;
    height: 50px;
    left: 30%;
    text-align: center;
    line-height: 300%;
   
}
#func{
    position: relative; /*Lembrar de colocar o postion */
    margin-top: 50px;

}

#func h2,h1{
   text-align: center;
}
#func div {
    display: inline-block;
    margin-left: 55px;
    margin-right: 55px;
    position: relative;
    top: 30px;
    vertical-align: top; 
    margin-top: 10px;
}

#func01, #func02 {
    width: 300px;
    height: 300px;
    background-color: white;
    text-align: center; 
}

#func01 p, #func02 p {
    font-size: 15px;
    text-align: center;
}
